{$SITE_ADDRESS} {
    header {
        Access-Control-Allow-Origin *
    }

    file_server {
        root /var/www/html
    }

    handle /dynimages {
        @hasPathParam query "path=*"
        handle @hasPathParam {
            rewrite * /images/{http.request.uri.query.path}
        }
        handle {
            respond 500 "Bad Request"
        }
    }
}
