name: Publish released version

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write  # mandatory for PyPI trusted publishing

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml
          architecture: x64

      - name: Install dependencies (and project)
        run: |
          pip install -U pip
          pip install -e .[scripts]

      - name: Build packages
        run: |
          pip install -U pip build
          python -m build --sdist --wheel

      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.8

      - name: Build and push Docker image
        uses: openzim/docker-publish-action@v10
        with:
          image-name: openzim/warc2zim
          tag-pattern: /^v([0-9.]+)$/
          latest-on-tag: true
          restrict-to: openzim/warc2zim
          registries: ghcr.io
          credentials:
            GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
            GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}
          repo_description: auto
          repo_overview: auto
